<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AKLNY_V30"
        tools:targetApi="31">
        <activity
            android:name=".ui.s10_order_screen.Activity_OrderScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.s9_previous_orders.Activity_PreviousOrdersScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.s8_order_confirmation_screen.Activity_PlaceOrderScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".API.AipActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.s7_cart_screen.Activity_CartScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.s6_restaurant_screen.Activity_MenuItemScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.ActivityAddMenu"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.admin.ActivityAddRestaurant"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- UI Activities -->
        <!-- Splash Screen Activity -->
        <activity
            android:name=".ui.s1_splash_screen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Landing Screen Screen Activity -->
        <activity
            android:name=".ui.s2_landing_screen.LandingScreenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Sign Up Screen Activity -->
        <activity
            android:name=".ui.s3_sign_up_screen.SignUpScreenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Sing In Screen Activity -->
        <activity
            android:name=".ui.s4_sign_in_screen.LoginScreenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Home Screen Activity -->
        <activity
            android:name=".ui.s5_home_screen.Activity_HomeScreen"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Restaurant Screen Activity -->
        <activity
            android:name=".ui.s6_restaurant_screen.Activity_RestaurantScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Transparent Activities -->
        <!-- Authorization Activity -->
        <activity
            android:name=".ui.transparent_activities.AuthorizationActivity"
            android:exported="false"
            android:theme="@style/transparentActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Testing Activities -->
        <!-- Test Auth Activity -->
        <activity
            android:name=".ui.testing_activities.TestActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>